Repository wielebenwir/commonsbooking, pull requests merged in 2023-10, with the labels that each got.

#1367 Fixes missing tiles and positiong on map
  assets/map/js/cb-map-locationview.js
  assets/map/js/cb-map-positioning.js
Labels: frontend, ready

#1379 booking author no longer removed by function but support removed
  src/Wordpress/CustomPostType/Booking.php
Labels: bug, quick

#1317 Fix #1314 (uneven grid settings)
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/timeframe.js
  src/Model/Timeframe.php
Labels: bug, quick, ready, php

#1356 added support for WP personal data exporter & eraser #1355
  src/Model/Booking.php
  src/Model/CustomPost.php
  src/Plugin.php
  src/Repository/Booking.php
  src/Repository/Timeframe.php
  src/View/Booking.php
  src/Wordpress/CustomPostType/Booking.php
  tests/php/Repository/BookingTest.php
  tests/php/Wordpress/CustomPostType/BookingTest.php
Labels: enhancement, ready, php

#1371 Fix: GBFS: Availability wird nicht berücksichtigt #1332
  src/API/AvailabilityRoute.php
  src/API/GBFS/StationStatus.php
  src/Model/Calendar.php
  src/Model/Day.php
  src/Model/Timeframe.php
  src/Repository/BookablePost.php
  src/View/Calendar.php
  tests/php/API/GBFS/StationStatusTest.php
  tests/php/Model/BookingTest.php
  tests/php/Model/CalendarTest.php
  tests/php/View/CalendarTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: bug

#1350 Bugfix Issue 1328: Fix sorting by meta values
  src/Wordpress/CustomPostType/Booking.php
  src/Wordpress/CustomPostType/CustomPostType.php
  src/Wordpress/CustomPostType/Timeframe.php
Labels: bug, ready, php

#1315 Fix PHP 8.1 deprecations
  composer.json
  composer.lock
  includes/Admin.php
  includes/TemplateParser.php
  src/Settings/Settings.php
  src/Wordpress/CustomPostType/CustomPostType.php
  src/Wordpress/Options/AdminOptions.php
  src/Wordpress/Options/OptionsTab.php
Labels: ready, technical, dependencies, php

#1387 Hilfreiche User und Developer Informationen dokumentiert
  src/Model/Day.php
Labels: documentation, ready

#1354 fixes #1353 (Validierungserror für ungültige Slots)
  src/Model/Timeframe.php
  tests/php/Model/TimeframeTest.php
Labels: bug, quick, ready, php

#1391 Upgrade Methoden umbauen
  src/Plugin.php
  src/Service/Upgrade.php
  tests/php/Service/UpgradeTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: technical, php

#1147 implemented option to configre counting of overbooked non bookable days
  .gitignore
  Gruntfile.js
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/location.js
  assets/public/js/public.js
  assets/public/js/public.min.js
  assets/public/js/src/lib/litepicker.js
  assets/public/js/src/litepicker.js
  includes/Admin.php
  includes/OptionsArray.php
  package-lock.json
  package.json
  src/Plugin.php
  src/View/Calendar.php
  src/Wordpress/CustomPostType/Location.php
  tests/cypress/e2e/cpt-creation.cy.js
  tests/cypress/e2e/litepicker-overbooking.cy.js
  tests/cypress/e2e/load-shortcodes.cy.js
  tests/cypress/e2e/load-wp.cy.js
  tests/cypress/fixtures/bookableItems.json
  tests/cypress/fixtures/bookableLocations.json
  tests/cypress/fixtures/example.json
  tests/cypress/wordpress-files/content-example.xml
Labels: enhancement, ready, php, javascript, module:Litepicker
