Repository wielebenwir/commonsbooking, pull requests merged in 2023-08, with the labels that each got.

#1313 Bugfix/issue 1312
  src/Exception/PostException.php
  src/Model/Map.php
  src/Plugin.php
  src/Wordpress/CustomPostType/CustomPostType.php
  tests/PluginTest.php
  tests/Wordpress/CustomPostType/CustomPostTypeTest.php
  tests/Wordpress/CustomPostTypeTest.php
Labels: bug, quick, ready, php

#1336 Remove redundant readme content
  Readme.md
Labels: documentation, quick, ready

#1335 Bugfix Issue 1334: Detect trash action & fix var initializations
  src/Wordpress/CustomPostType/Booking.php
Labels: bug, ready

#1343 fixes #1340
  templates/shortcode-bookings.php
Labels: bug, quick, ready, php
