Repository wielebenwir/commonsbooking, pull requests merged in 2023-11, with the labels that each got.

#1395 fix #1394
  assets/public/js/public.js
  assets/public/js/public.min.js
  assets/public/js/src/lib/litepicker.js
  tests/cypress/e2e/litepicker-overbooking.cy.js
  tests/cypress/fixtures/bookableItems.json
  tests/cypress/fixtures/bookableLocations.json
  tests/cypress/wordpress-files/content-example.xml
Labels: bug, module:Litepicker

#1398 Updates composer dependencies
  composer.json
  composer.lock
Labels: dependencies, php

#1359 fix: holidays not working when they are in +30 days range
  includes/Users.php
  src/Migration/Migration.php
  src/Model/Booking.php
  src/Model/CustomPost.php
  src/Model/Timeframe.php
  src/Service/Upgrade.php
  src/View/View.php
  src/Wordpress/CustomPostType/Timeframe.php
  tests/php/API/AvailabilityRouteTest.php
  tests/php/Model/BookingTest.php
  tests/php/Model/TimeframeTest.php
  tests/php/PluginTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/Service/UpgradeTest.php
  tests/php/View/ViewTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: bug, quick, php

#1180 Manuelle Datumseingabe für Timeframes
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/holiday.js
  assets/admin/js/src/timeframe.js
  src/Exception/OverlappingException.php
  src/Model/Day.php
  src/Model/Timeframe.php
  src/Repository/Timeframe.php
  src/View/TimeframeExport.php
  src/Wordpress/CustomPostType/Timeframe.php
  tests/php/API/GBFS/StationStatusTest.php
  tests/php/Model/BookingTest.php
  tests/php/Model/CalendarTest.php
  tests/php/Model/DayTest.php
  tests/php/Model/TimeframeTest.php
  tests/php/Repository/BookingCodesTest.php
  tests/php/Repository/ItemTest.php
  tests/php/Repository/LocationTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/View/CalendarTest.php
  tests/php/Wordpress/CustomPostType/TimeframeTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: enhancement, ready, php

#1288 Test scheduler
  src/Service/Scheduler.php
  tests/Service/SchedulerTest.php
Labels: technical, php

#1402 feiertage von js library automatisch beziehen
  Gruntfile.js
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/holiday.js
  assets/admin/js/src/timeframe.js
  package-lock.json
  package.json
  src/Service/Holiday.php
  src/Wordpress/CustomPostType/Timeframe.php
  tests/cypress/e2e/cpt-creation.cy.js
  tests/php/Service/HolidayTest.php
Labels: enhancement, php, javascript

#1414 Unit-Tests: Mock calls to nominatim geocoding service
  src/Helper/GeoCodeService.php
  src/Helper/GeoHelper.php
  src/Helper/NominatimGeoCodeService.php
  tests/php/API/CB_REST_UnitTestCase.php
  tests/php/BaseTestCase.php
  tests/php/Helper/GeoHelperTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: ready, technical

#1247 CB-Frontend Integration
  .editorconfig
  Gruntfile.js
  assets/map/leaflet-easybutton/.gitignore
  assets/map/leaflet-easybutton/LICENSE
  assets/map/leaflet-easybutton/README.md
  assets/map/leaflet-easybutton/USAGE.md
  assets/map/leaflet-easybutton/bower.json
  assets/map/leaflet-easybutton/easy-button.css
  assets/map/leaflet-easybutton/easy-button.js
  assets/map/leaflet-easybutton/package.json
  assets/map/leaflet-markercluster/MarkerCluster.Default.css
  assets/map/leaflet-markercluster/MarkerCluster.css
  assets/map/leaflet-markercluster/WhereAreTheJavascriptFiles.txt
  assets/map/leaflet-markercluster/leaflet.markercluster-src.js
  assets/map/leaflet-markercluster/leaflet.markercluster-src.js.map
  assets/map/leaflet-markercluster/leaflet.markercluster.js
  assets/map/leaflet-markercluster/leaflet.markercluster.js.map
  assets/map/leaflet-spin/leaflet.spin.min.js
  assets/map/leaflet/images/layers-2x.png
  assets/map/leaflet/images/layers.png
  assets/map/leaflet/images/marker-icon-2x.png
  assets/map/leaflet/images/marker-icon.png
  assets/map/leaflet/images/marker-shadow.png
  assets/map/leaflet/leaflet-src.esm.js
  assets/map/leaflet/leaflet-src.esm.js.map
  assets/map/leaflet/leaflet-src.js
  assets/map/leaflet/leaflet-src.js.map
  assets/map/leaflet/leaflet.css
  assets/map/leaflet/leaflet.js
  assets/map/leaflet/leaflet.js.map
  assets/map/spin-js/spin.css
  assets/map/spin-js/spin.min.js
  assets/packaged/.gitignore
  bin/build-zip.sh
  includes/Public.php
  package-lock.json
  package.json
  src/Map/BaseShortcode.php
  src/Map/MapData.php
  src/Map/MapShortcode.php
  src/Map/SearchShortcode.php
  src/Plugin.php
  src/View/Location.php
  src/View/Map.php
  src/Wordpress/CustomPostType/Map.php
Labels: enhancement, frontend

#1174 Buchungscodes per E-Mail versenden
  assets/admin/css/admin.css
  assets/admin/css/admin.css.map
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/timeframe.js
  assets/admin/sass/partials/_form-timeframe.scss
  includes/Admin.php
  includes/OptionsArray.php
  src/Messages/BookingCodesMessage.php
  src/Model/Item.php
  src/Model/Location.php
  src/Model/Timeframe.php
  src/Plugin.php
  src/Repository/BookingCodes.php
  src/Service/BookingCodes.php
  src/Service/Scheduler.php
  src/Service/iCalendar.php
  src/View/BookingCodes.php
  src/Wordpress/CustomPostType/Location.php
  src/Wordpress/CustomPostType/Timeframe.php
  tests/php/Service/BookingCodesTest.php
  tests/php/Service/iCalendarTest.php
  tests/php/View/BookingCodesTest.php
Labels: enhancement

#1421 remove ruby from actions
  .github/actions/build-plugin/action.yml
  .github/workflows/compile.yml
Labels: technical

#1426 Fix für E-Mail-Absender-Namen mit Sonderzeichen wie "Frieda & Friedrich"
  src/Messages/BookingMessage.php
  src/Messages/BookingReminderMessage.php
  src/Messages/Message.php
  src/Messages/RestrictionMessage.php
  src/Settings/Settings.php
  tests/php/Settings/SettingsTest.php
Labels: bug, ready, php
