Repository wielebenwir/commonsbooking, pull requests merged in 2023-09, with the labels that each got.

#1203 Adds support for configurable date and time format to Restriction model
  src/Helper/Helper.php
  src/Model/Restriction.php
  tests/Model/RestrictionTest.php
Labels: ready

#1345 Behebt: #1342 Inkorrekter Buchungszeitraum in Buchungsprüfung
  src/Model/Booking.php
  src/Model/Timeframe.php
  tests/Model/BookingTest.php
  tests/Repository/BookingCodesTest.php
  tests/Repository/BookingTest.php
  tests/Wordpress/CustomPostType/BookingTest.php
  tests/Wordpress/CustomPostTypeTest.php
Labels: bug, ready, php

#1311 Bugfix/issue 1095 (Direkt angrenzende Zeitrahmen)
  src/Model/Timeframe.php
  tests/Model/TimeframeTest.php
Labels: bug, quick, ready, php

#1307 fixed shortcode #1070
  src/View/Item.php
Labels: bug, quick, ready, php

#1365 Fixed small HTML bugs in calendar table #1364
  src/View/Calendar.php
  templates/shortcode-items_table.php
  templates/timeframe-calendar.php
Labels: bug
