Repository wielebenwir/commonsbooking, pull requests merged in 2024-03, with the labels that each got.

#1534 Fixes errors in TimeframeExport (Issue #1532)
  src/View/TimeframeExport.php
  tests/php/View/TimeframeExportTest.php
Labels: bug, quick, php

#1539 BookingCode: Deprecates setters
  src/Model/BookingCode.php
Labels: quick, technical, php

#1542 API: Fix #1531
  src/API/BaseRoute.php
Labels: bug, quick, php, module:API:GBFS

#1536 Versionierung Admin Scripts
  includes/Admin.php
Labels: enhancement, quick

#1547 API: Adds commons-api schema files as assets
  Gruntfile.js
  src/API/AvailabilityRoute.php
  src/API/BaseRoute.php
  src/API/ItemsRoute.php
  src/API/LocationsRoute.php
  src/API/OwnersRoute.php
  src/API/ProjectsRoute.php
Labels: bug, php

#1545 Fix usage of opis 2.0 interface
  src/API/BaseRoute.php
Labels: bug, quick, php, module:API:REST

#1550 added orderby post_title in table view
  src/View/Calendar.php
Labels: enhancement

#1468 run PHPUnit against different WP versions
  .github/workflows/e2e.yml
  .github/workflows/phpunit.yml
  readme.txt
Labels: ready, technical, dx

#1480 Fix email subject with special characters (issue 1433)](https://github.com/wielebenwir/commonsbooking/pull/1479
  includes/TemplateParser.php
  src/CB/CB.php
  src/Messages/Message.php
  tests/php/CB/CBTest.php
Labels: bug

#1564 Use latest version of setup and cache actions
  .github/actions/build-plugin/action.yml
Labels: technical, dependencies, github_actions
