Repository wielebenwir/commonsbooking, pull requests merged in 2024-12, with the labels that each got.

#1659 Fix cache cleared notice type
  src/Messages/AdminMessage.php
  src/Plugin.php
  src/Wordpress/Options/OptionsTab.php
Labels: quick, php

#1640 View: accessiblity fix
  src/View/Calendar.php
Labels: enhancement, frontend, a11y

#1654 Try to increase quality of the codebase
  src/API/AvailabilityRoute.php
  src/CB/CB1UserFields.php
  src/Exception/TimeframeInvalidException.php
  src/Map/BaseShortcode.php
  src/Model/CustomPost.php
  src/Model/Timeframe.php
  src/Plugin.php
  src/Repository/BookingCodes.php
  src/Repository/CB1.php
  src/Service/BookingRule.php
  src/Service/BookingRuleApplied.php
  src/Service/TimeframeExport.php
  src/Wordpress/CustomPostType/Booking.php
  src/Wordpress/CustomPostType/CustomPostType.php
  src/Wordpress/CustomPostType/Item.php
  src/Wordpress/CustomPostType/Location.php
  src/Wordpress/CustomPostType/Map.php
  src/Wordpress/CustomPostType/Restriction.php
  src/Wordpress/CustomPostType/Timeframe.php
  src/Wordpress/Options/OptionsTab.php
  src/Wordpress/Widget/UserWidget.php
  tests/php/API/AvailabilityRouteEmptyTest.php
  tests/php/Service/TimeframeExportTest.php
Labels: technical, php, dx, documentation

#1696 Bugfix: Doppelbuchungen bei Umzug verwaister Buchung möglich
  src/Repository/Booking.php
  src/Service/MassOperations.php
  tests/php/Model/BookingTest.php
  tests/php/Service/MassOperationsTest.php
Labels: bug, php

#1701 Disable short array syntax sniff
  .phpcs.xml.dist
Labels: dx

#1692 Add phpstan analysis
  composer.json
  composer.lock
  phpstan.neon
Labels: technical, dx

#1347 Totalausfall: Stornierung optional
  includes/OptionsArray.php
  src/Model/Booking.php
  src/Model/Restriction.php
  src/Service/Booking.php
  tests/php/Model/BookingTest.php
Labels: enhancement, php
