Repository wielebenwir/commonsbooking, pull requests merged in 2024-05, with the labels that each got.

#1587 fix #1586 - only apply for cmb2
  assets/admin/js/src/restriction.js
Labels: bug, quick, javascript

#1589 add taxonomy columns #1523
  src/Plugin.php
Labels: enhancement, php

#1497 Beständige Bookingcodes
  src/Migration/Migration.php
  src/Model/BookingCode.php
  src/Plugin.php
  src/Repository/BookingCodes.php
  tests/php/Repository/BookingCodesTest.php
Labels: php

#1593 fix #1584 (unerwartetes Verhalten durch unconfirmed booking cleanup)
  src/Wordpress/CustomPostType/Booking.php
  tests/php/Wordpress/CustomPostType/BookingTest.php
Labels: bug, php

#1572 Enhancement: AJAX Upgrades
  assets/admin/css/admin.css
  assets/admin/js/admin.js
  assets/admin/js/src/migration.js
  assets/admin/sass/partials/_migration.scss
  includes/Admin.php
  includes/OptionsArray.php
  includes/Public.php
  src/Repository/Timeframe.php
  src/Service/Upgrade.php
  src/View/Migration.php
  tests/php/API/AvailabilityRouteTest.php
  tests/php/PluginTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/Service/UpgradeAJAXTest.php
  tests/php/Service/UpgradeTest.php
Labels: enhancement, php, javascript

#1577 fix #1576
  src/Plugin.php
  src/Service/Cache.php
  src/Wordpress/CustomPostType/Timeframe.php
Labels: php, performance

#1443 added check for curl #1442
  src/Helper/NominatimGeoCodeService.php
Labels: bug, quick, php
