Repository wielebenwir/commonsbooking, pull requests merged in 2024-09, with the labels that each got.

#1627 implement feature issue-1602: no code generation for past
  src/Repository/BookingCodes.php
  tests/php/Repository/BookingCodesTest.php
  tests/php/View/BookingTest_AJAX_Test.php
Labels: bug, php

#1554 fix #1229 (Vergangene Buchungen in Buchungsübersicht)
  src/View/Booking.php
Labels: enhancement, question, php

#1525 Einschränkungen für ALLE deaktivieren
  src/Wordpress/CustomPostType/Restriction.php
Labels: bug, quick, ready, php

#1635 Bugfix/issue 1634
  src/Model/Booking.php
  src/Service/MassOperations.php
Labels: bug
