Repository wielebenwir/commonsbooking, pull requests merged in 2024-04, with the labels that each got.

#1434 show excerpt element in map #1300
  assets/public/css/public.css
  assets/public/sass/partials/_map.scss
Labels: enhancement, frontend, quick

#1386 add custom metabox filter hook #1385
  src/Wordpress/CustomPostType/CustomPostType.php
  tests/php/Wordpress/CustomPostType/CustomPostTypeTest.php
Labels: enhancement, quick, php

#1410 location reminder emails
  includes/OptionsArray.php
  src/Messages/BookingCodesMessage.php
  src/Messages/BookingMessage.php
  src/Messages/BookingReminderMessage.php
  src/Messages/LocationBookingReminderMessage.php
  src/Messages/Message.php
  src/Messages/RestrictionMessage.php
  src/Model/MessageRecipient.php
  src/Service/Booking.php
  src/Service/Scheduler.php
  src/Wordpress/CustomPostType/Location.php
  tests/php/Messages/BookingMessageTest.php
  tests/php/Messages/BookingReminderMessageTest.php
  tests/php/Messages/Email_Test_Case.php
  tests/php/Messages/LocationBookingReminderMessageTest.php
  tests/php/Messages/MessageTest.php
  tests/php/Model/MessageRecipientTest.php
  tests/php/Repository/BookingTest.php
  tests/php/Service/BookingTest.php
Labels: enhancement, php

#1563 API: Use formatter to add schema validation msgs to response
  src/API/BaseRoute.php
Labels: php, module:API:REST, module:API:GBFS, dx

#1211 iCalendar Events stornierbar
  src/Messages/BookingMessage.php
  src/Service/iCalendar.php
Labels: enhancement

#1213 Added iCal Download to confirmed booking page
  assets/public/css/public.css
  assets/public/sass/partials/_forms.scss
  src/Wordpress/CustomPostType/Booking.php
  templates/booking-single-form.php
  templates/timeframe-calendar.php
Labels: enhancement, php
