Repository wielebenwir/commonsbooking, pull requests merged in 2024-06, with the labels that each got.

#1323 AJAX Export von Timeframes
  assets/admin/css/admin.css
  assets/admin/js/admin.js
  assets/admin/js/admin.min.js
  assets/admin/js/src/export.js
  assets/admin/sass/admin.scss
  assets/admin/sass/partials/_form-export.scss
  includes/Admin.php
  includes/OptionsArray.php
  includes/Public.php
  src/Exception/ExportException.php
  src/Repository/Booking.php
  src/Repository/Timeframe.php
  src/Service/Scheduler.php
  src/Service/TimeframeExport.php
  src/View/TimeframeExport.php
  src/Wordpress/CustomPostType/Timeframe.php
  src/Wordpress/Options/OptionsTab.php
  tests/php/Repository/BookingTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/Service/TimeframeExportTest.php
  tests/php/Service/TimeframeExport_AJAX_Test.php
Labels: bug, enhancement, php

#1596 Beständige Bookingcodes
  src/Migration/Migration.php
  src/Model/BookingCode.php
  src/Plugin.php
  src/Repository/BookingCodes.php
  tests/php/Repository/BookingCodesTest.php
Labels: bug, enhancement, php

#1508 fix #1505
  src/Model/Day.php
  src/Repository/Timeframe.php
  src/View/Calendar.php
  tests/php/Model/DayTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/View/CalendarTest.php
Labels: bug, php

#1585 Performanceverbesserungen Kalenderaufbau
  src/Model/Calendar.php
  src/Model/Day.php
  src/Model/Timeframe.php
  src/Model/Week.php
  tests/php/Model/CalendarTest.php
  tests/php/View/CalendarTest.php
Labels: enhancement, php

#1361 Komfortfunktionen Adminbuchung
  .gitignore
  assets/admin/js/admin.js
  assets/admin/js/src/booking.js
  includes/Admin.php
  includes/Public.php
  src/Exception/TimeframeInvalidException.php
  src/Model/Booking.php
  src/Model/Timeframe.php
  src/View/Booking.php
  src/Wordpress/CustomPostType/Booking.php
  src/Wordpress/CustomPostType/Timeframe.php
  tests/cypress/e2e/admin-booking.cy.js
  tests/php/Model/BookingTest.php
  tests/php/Model/TimeframeTest.php
  tests/php/Repository/TimeframeTest.php
  tests/php/View/BookingTest_AJAX_Test.php
Labels: enhancement, php
