Repository wielebenwir/commonsbooking, pull requests merged in 2025-01, with the labels that each got.

#1413 Karten auf CMB2 umstellen
  Gruntfile.js
  assets/admin/js/src/map.js
  assets/admin/sass/admin.scss
  assets/admin/sass/partials/_form-map.scss
  assets/map/js/cb-map-marker-upload.js
  includes/Admin.php
  src/Map/MapAdmin.php
  src/Map/MapData.php
  src/Map/MapSettings.php
  src/Map/MapShortcode.php
  src/Model/Map.php
  src/Plugin.php
  src/Service/Upgrade.php
  src/View/Map.php
  src/Wordpress/CustomPostType/Map.php
  templates/map-admin-page-template.php
  templates/map-settings-page-template.php
  tests/cypress/wordpress-files/content-example.xml
  tests/php/Model/MapTest.php
  tests/php/Service/UpgradeTest.php
  tests/php/Wordpress/CustomPostType/CustomPostTypeTest.php
  tests/php/Wordpress/CustomPostTypeTest.php
Labels: technical, php

#1713 Fix #1712 with explicit sass imports via use
  assets/admin/css/admin.css
  assets/admin/sass/partials/_dashboard.scss
  assets/public/css/public.css
  assets/public/sass/partials/_calendar.scss
  assets/public/sass/partials/_forms.scss
  assets/public/sass/partials/_lists.scss
  assets/public/sass/partials/_map.scss
  assets/public/sass/partials/_notice.scss
  assets/public/sass/partials/_shortcodeItemsTable.scss
  assets/public/sass/partials/_single.scss
Labels: bug

#1718 Fix #1605 last php unit test
  src/Service/Scheduler.php
  tests/php/Service/SchedulerTest.php
Labels: technical, documentation

#1721 fixes #1720 (calendar crash)
  src/View/Calendar.php
  tests/php/View/CalendarTest.php
Labels: bug, php

#1706 Add phpstan action
  .github/workflows/phpstan.yml
  composer.json
  composer.lock
  includes/Admin.php
  includes/Template.php
  includes/TemplateParser.php
  phpstan-baseline.neon
  phpstan.neon
  src/CB/CB1UserFields.php
  src/Repository/BookingCodes.php
  src/Service/Cache.php
  src/Service/Holiday.php
  src/Wordpress/CustomPostType/CustomPostType.php
  src/Wordpress/CustomPostType/Timeframe.php
Labels: technical, php, dx

#1728 Workaround for #1724: Prevent admin.js from executing on invalid end pages
  assets/admin/js/admin.js
  assets/admin/js/src/booking.js
Labels: bug
