Repository wielebenwir/commonsbooking, pull requests merged in 2025-04, with the labels that each got.

#1786 fix cb_manager can create block for all items in instance (#1785)
  src/Wordpress/CustomPostType/Timeframe.php
  tests/php/Wordpress/CustomPostType/TimeframeTest.php
Labels: bug, php

#1707 Increase PHPstan level 1
  phpstan.neon
  src/CB/CB.php
  src/Messages/Message.php
  src/Model/Timeframe.php
  src/Service/BookingRuleApplied.php
  src/Service/MassOperations.php
  src/Wordpress/CustomPostType/Booking.php
  tests/php/Messages/MessageTest.php
Labels: technical, php, dx

#1792 WP 6.8 support
  .wp-env.json
  readme.txt
Labels: technical
