Repository wielebenwir/commonsbooking, pull requests merged in 2025-02, with the labels that each got.

#1731 Fix for #1729: run cb_search in warmupCache() and pass shortcode body
  src/Map/BaseShortcode.php
  src/Service/Cache.php
  tests/php/Service/CacheTest.php
Labels: bug, php, performance

#1755 fix #1688 (error in booking list when user deleted)
  src/Wordpress/CustomPostType/Booking.php
Labels: bug, php

#1711 Plugin: Fix wp translation access
  includes/Users.php
  src/Plugin.php
  tests/php/PluginTest.php
Labels: technical
